*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto',sans-serif;
    outline: none;
    border: none;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(-45,#7f379b,#ffa26c);
    background-color: aqua;
}
h1{
    font-size: 4.5em;
}